/* Navbar */

.navbar {
  font-weight: normal;
  background: $navbar-bg !important;
}

.nav-item.theme-switch {
  margin-top: 10px;
  margin-right: 20px;
}

.nav .nav-link {
  border-radius: 0px 100px 100px 0px;
  transition: background-color 0.3s ease;
  color: $text-muted !important;
  font-size: 0.9375rem;

  &.active,
  &:focus,
  &:hover {
    background-color: $gray-dark !important;
  }
}