input {
  background-color: var(--input-bg) !important;
  border-color: var(--input-border-color) !important;
  color: var(--text-color) !important;
}

input::placeholder {
  color: var(--input-placeholder-color) !important;
}

.form-floating {
  label {
    color: var(--input-placeholder-color) !important;
    pointer-events: none;
    transition: all 0.3s ease;
  }
}

.form-floating>label::after {
  background-color: transparent !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem $gray-lightest !important;
}