/* Icons */

.icons-list {
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.template-base {
  .icon-default {
    color: var(--text-color) !important;
  }
}